<!-- Navigation -->
<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-primary mb-2"><strong>IICOIIJ?</strong></p>
      </div>
      <div class="col-lg-12 d-flex justify-content-between">
        <p class="mb-0">Score: {{ game.score }}</p>
        <p class="mb-0">Progress: {{ game.qCurrent }}/{{ game.qTotal }}</p>
      </div>
    </div>
  </div>
</div>

<section class="main-bg text-center d-flex">
  <div class="container-fluid p-0 my-auto">
    <div class="row no-gutters">
      <div class="col-lg-10 mx-auto q-card">
        <img class="w-100" src="assets/q-imgs/{{ question.img }}">
        <div id="q-correct"><i class="fas fa-check"></i></div>
        <div id="q-incorrect"><i class="fas fa-times"></i></div>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="text-muted mb-5">Is this Catherine or Jackson?</p>
      </div>
    </div>
  </div>
</section>

<div class="answer-bar">
  <button id="responseCat"><p class="text-muted mb-0"><i class="fas fa-user"></i></p></button>
  <button id="responseJac"><p class="text-muted mb-0"><i class="fas fa-user"></i></p></button>
</div>
