<section class="main-bg text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase text-white">
          <strong>IICOIIJ</strong>
        </h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Is it Catherine or is it Jackson? Play to find out!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/game">Start playing</a>
      </div>
    </div>
  </div>
</section>
